export PATH=$(pwd)/.tools:$PATH

# service name
export SERVICE_NAME=webapp-tutorial-backend

# database
export DATABASE_HOST=127.0.0.1
export DATABASE_PORT=3306
export DATABASE_USER=root
export DATABASE_PASS=root
export DATABASE_NAME=todo_tutorial

# user usecase
export USER_TABLE=users

# auth usecase
export AUTH_SECRET=9a81d873-d27d-4353-bd9c-fadf0ee030f6
export AUTH_ACCESS_TOKEN_DURATION=10m
export AUTH_REFERESH_TOKEN_DURATION=720h

# rest presenter
export REST_AUTH_SECURE_REFRESH_TOKEN=false
